<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701025551237-qp1f0u0pqqin57k5ko7oii91falf08rm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701025551237-qp1f0u0pqqin57k5ko7oii91falf08rm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>701025551237-t0iu6t2kr07kjmhvqu9jrhdcjk87osur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAptoc4Aba8avlt96iJx0FJKEtavy00yzc</string>
	<key>GCM_SENDER_ID</key>
	<string>701025551237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Growthfile.GrowthfileNewApp</string>
	<key>PROJECT_ID</key>
	<string>growthfile-207204</string>
	<key>STORAGE_BUCKET</key>
	<string>growthfile-207204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:701025551237:ios:254cfe338c9e5531</string>
	<key>DATABASE_URL</key>
	<string>https://growthfile-207204.firebaseio.com</string>
</dict>
</plist>
